nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed.button(kg-dropdown-toggle="main-nav")
        span.sr-only
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand=("UltiAnalAdmin")
    .collapse.navbar-collapse(kg-dropdown="main-nav")
      ul.nav.navbar-nav
        li(ng-repeat="page in ['players','games','settings','broadcast']", ng-class="{active: $state.includes(page)}")
          a(href="#/{{page}}/{{$stateParams.cloudId}}")="{{page.slice(0,1).toUpperCase() + page.slice(1)}}"
      ul.nav.navbar-nav.navbar-right
        li(ng-click="logout()")
          a=("Logout")
        li.dropdown
          a.dropdown-toggle(kg-dropdown-toggle="'account-settings'")
            span=("Teams")
            span.caret
          ul.dropdown-menu(kg-dropdown="'account-settings'")
            li(ng-repeat="team in teams", ng-class="{active: team.cloudId === $stateParams.cloudId}")
              a(href="#/{{$state.current.name}}/{{team.cloudId}}")=("{{team.name}}")
